/* Reset & Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Georgia', serif;
  background-color: #f2e9de;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero{
	width: 80%;
	margin: auto;
}

span {
	text-align: right;
	align-items: right;
}
.navbar{
	margin: 30px auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

ul{
	flex: 1;
	text-align: right;
}
ul li{ 
	display: inline-block;
	list-style: none;
	margin: 0 25px;
}
ul li a{
	text-decoration: none;
	color: #000;
	padding: 0 10px;
	position: relative;
}
ul li a::after{
	content: '';
	width: 0;
	height: 10px;
	background: #000000;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 35px;
	transition: 0.5s;
}
ul li a:hover::after{
	width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 50px;
}

.home-link {
  font-size: 18px;
  color: #3e3e3e;
  text-decoration: none;
  font-weight: bold;
}

.home-link:hover {
  text-decoration: underline;
}

/* Tree Section */
.tree-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

.tree-image {
  max-width: 800vh;
  max-height: 800vh;
  object-fit: contain;
  margin-top: -25vh;
  height: 800px;
  width: 800px;
}
